input[type=text], input[type=password], input[type=submit], textarea{
    width:100%;
}
textarea{
    resize: none;
}
input[type=text], input[type=password]{
    padding:20px;
    border: 2px solid #e74c3c;
    border-radius: 5px;
    margin-bottom:20px;
    background:none;
}
input[type=submit]{
    padding:20px;
    border: 2px solid #e74c3c;
    border-radius: 5px;
    margin-bottom:20px;
    background:#e74c3c;
    color:white;
}
