body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}
.bg {
  background-color: #c0392b;
  position: absolute;
  width: 100%;
  height: 533px;
  z-index: 0;
}
.bg-2 {
  background: white;
  position: absolute;
  width: 100%;
  height: 690px;
  top: 783px;
}
.bg-3 {
  background-color: #e74c3c;
  position: absolute;
  width: 100%;
  height: 690px;
  top: 1473px;
  z-index: 0;
}
.bg-btns {
  position: absolute;
  top: 533px;
  height: 250px;
  width: 100%;
  background: #e74c3c;
}
#heart {
  position: absolute;
  top: 200px;
  left: calc(50% - 50px);
  transition: all 1000ms ease-in-out;
}
#head p {
  position: absolute;
  font: 40px;
}
#midH{
  position: absolute;
  width: 100px;
  height: 100px;
  top: -1200px;
  left: 0px;
  background: white;
  transform: rotate(45deg);
  transition: all 2400ms ease-in-out;
}
#rightH {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -38px;
  left: 1100px;
  background: white;
  border-radius: 50%;
  transition: all 1800ms ease-in-out;
}
#leftH {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -38px;
  left: -1100px;
  background: white;
  border-radius: 50%;
  transition: all 1800ms ease-in-out;
}

#buttons {
  top: 545px;
  height: 88px;
  width: 100%;
  background: #e74c3c;
  position: absolute;
  padding-top: 10px;
  padding-bottom: 22px;
  z-index: 10;
}
.one {
  width: 80px;
  height: 80px;
  border: 4px solid white;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
  position: absolute;
  left: calc(20% - 40px);
}
.two {
  width: 80px;
  height: 80px;
  border: 4px solid white;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
  position: absolute;
  left: calc(40% - 40px);
}
.three {
  width: 80px;
  height: 80px;
  border: 4px solid white;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
  position: absolute;
  left: calc(60% - 40px);
}
#four {
  width: 80px;
  height: 80px;
  border: 4px solid white;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
  position: absolute;
  left: calc(80% - 40px);
}
#four img {
  position: relative;
  width: 50px;
  height: 50px;
  left: calc(50% - 20px);
  top: calc(50% - 25px);
}
#four img:hover {
  width: 50px;
  height: 50px;
}
.three img {
  position: relative;
  width: 100px;
  height: 100px;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
}
.two img {
  position: relative;
  width: 100px;
  height: 100px;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
}
.one img {
  position: relative;
  width: 100px;
  height: 100px;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
}

#buttons :hover {
  width: 100px;
  height: 100px;
}
#messagePopup, #loginPopup, #profilePopup, #aboutPopup{
  width: 75%;
  height: 600px;
  position: fixed;
  background: white;
  border: 2px solid #c0392b;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 4px;
  z-index: 10;
  left: 12.5%;
  top: calc(50% - 300px);
  display: none;
}
#messagePopup img, #loginPopup img, #profilePopup img {
  float: right;
  width: 80px;
  height: 80px;
}

h1 {
  position: absolute;
  top: 788px;
  font-size: 40px;
  font-weight: lighter;
  width: 100%;
  text-align: center;
  color: black;
}
p {
  position: absolute;
  top: 835px;
  font-size: 30px;
  width: 100%;
  text-align: center;
  color: black;
}
.kommentar {
  position: absolute;
  top: 930px;
  left: calc(50% - 200px);
  z-index: 2;
}
.kommentar textarea {
  width: 400px;
  height: 400px;
  outline: none;
  font-size: 20px;
  color: grey;
  overflow: auto;
  resize: none;
  border: 2px solid #c0392b;
  border-radius: 6px;
  padding: 10px;
  letter-spacing: 2px;
}
.kommentar input[type=submit] {
  width: 424px;
  height: 50px;
  background-color: #e74c3c;
  color:white;
  font-size: 20px;
  border: none;
  border-radius: 6px;
  margin-top: 5px;
  transition: all 200ms ease-in-out;
}
.kommentar input:hover {
  /*background-color: #c0392b;
  color: white;*/
}
/*Det som står nedan har Harald skrivit, detta får granskas för ytterliggare ändringar och effektivitet*/
table{
    width:100%;
    font-weight: bold;
    word-wrap:break-word;
}
tr{
    width:calc( 97% - 20px );
    max-width:950px;
    display:block;
    border:5px solid #e74c3c;
    margin:5px;
    padding:10px;
}
.login-wrapper{
    width:50%;
    margin: 0 auto;
}
.login-wrapper h2{
    text-align: center;
    display: block;
    color: #e74c3c;
}
.login-wrapper input{
    margin:0 auto;
}
.login-wrapper input::placeholder, .login-wrapper input{
    color: #e74c3c;
    font-size: 17px;
    font-weight: bold;
}
.login-wrapper input[type="text"], .login-wrapper input[type="password"]{
    width:90%;
    border:2px solid #e74c3c;
    border-radius: 10px;
    padding:10px;
    margin:10px;
}
.login-wrapper input[type="submit"]{
    width:calc( 92.5% + 4px );
    border:2px solid #e74c3c;
    border-radius: 10px;
    padding:10px;
    margin:10px;
    background: #e74c3c;
    color:white;
    font-size:17px;
    font-weight: bolder;
}
#aboutPopup p{
    top:0;
    margin-top:50px;
    position:relative;
    font-size:20px;
}
#aboutPopup h2, .reports h2{
    text-align: center;
}
.reports table tr td{
    width:16.6%;
    text-align: center;
}
.users table tr td{
    width:25%;
    text-align: center;
}
/**/
